<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ADConnectionstring" connectionString="LDAP://192.168.23.4:389/OU=IDC,DC=igglobal,DC=com" providerName="System.Data.SqlClient" />
    <add name="Survey" connectionString="Data Source=; Initial Catalog=Survey; User Id=sa; Password=" providerName="System.Data.SqlClient" />
    <add name="ATSConnection" connectionString="Data Source=; Initial Catalog=Survey; User Id=sa; Password=" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="MettlTestResults" value="\\ipagshareserver\Resumes\Mettl\" />
    <add key="ResumesPath" value="\\ipagshareserver\Resumes\" />
    <add key="UmappedResumesPath" value="\\ipagshareserver\Resumes\Unmapped\" />
    <add key="OfferLetterPath" value="\\ipagshareserver\Resumes\Offers\" />
    <add key="WebApiBaseUrl" value="http://aspire.infogain.com/aspiresso" />
    <add key="ProfilePicturePath" value="\\ipagshareserver\Resumes\ProfilePicture\" />
    <add key="ProfileVideoPath" value="\\ipagshareserver\Resumes\ProfileVideo\" />
    <add key="ProfileIdPath" value="\\ipagshareserver\Resumes\IDProof\" />
    <add key="SharePointVideoPathInterview" value="TestInterview\ProfileVideo\" />
    <add key="SharePointVideoPathOnboard" value="TestOnboard\ProfileVideo\" />
    <add key="SharePointSiteId" value="infogain.sharepoint.com,eaf7df52-ad0c-40d5-92b0-f09287b408f6,3b998923-aa2b-40ea-a9a9-c0b91cdca85f" />
    <add key="SharePointDriveId" value="b!Ut_36gyt1UCSsPCSh7QI9iOJmTsrqupAqanAuRzcqF-bGnMNjsiUR5TxJw5yHplq" />
    <add key="NotificationEnable" value="0" />
    <add key="CIDPrefix" value="C" />
    <add key="TalentAttachments" value="\\ipagshareserver\Resumes\ProfilePicture\" />
    <add key="AppoinmentLetterPath" value="\\ipagshareserver\Resumes\AppoinmentLetter\HR\" />
    <add key="staticpathPhoto" value="\\ipagfileserver\Photos\" />
    <add key="TNIAdmin" value="2071001" />
    <add key="TNIAppId" value="14" />
    <add key="ITSAppId" value="104" />
    <add key="LMSAppId" value="7" />
    <add key="Pwd" value="" />
    <add key="SignaturePath" value="\\ipagshareserver\Resumes\Onboard\Signature\" />
    <add key="OfferSignaturePath" value="\\ipagshareserver\Resumes\Onboard\CandidateSignature\OfferSignature\" />
    <add key="AgreementSignaturePath" value="\\ipagshareserver\Resumes\Onboard\CandidateSignature\AgreementSignature\" />
    <!--Added by jivan for Location wise path-->
    <!--<add key="OnboardFormDocumentsTest" value="\\ipagshareserver\Resumes\Onboard\OnboardFormDocuments\Noida\" />-->
    <add key="OnboardFormDocuments" value="\\ipagshareserver\Resumes\Onboard\OnboardFormDocuments\" />
    <add key="VideoMatchApiUrl" value="https://automation.infogain.com/videoMatch/checkVideo" />
    <add key="VideoMatchApiUserName" value="videoMatch@infogain.com" />
    <add key="VideoMatchApiUserPassword" value="" />
    <add key="TechnicalQuestionnairePath" value="\\ipagshareserver\Resumes\TechnicalQuestionnaire\" />
    <add key="OnboardFormDocumentsNoida" value="\\ipagshareserver\Resumes\mercury\Joining Documents\Virtual Joining Files\Noida\" />
    <add key="OnboardFormDocumentsNNT_Bangalore" value="\\ipagshareserver\Resumes\mercury\Joining Documents\Virtual Joining Files\NNT_Bangalore\" />
    <add key="OnboardFormDocumentsBangalore" value="\\ipagshareserver\Resumes\mercury\Joining Documents\Virtual Joining Files\Bangalore\" />
    <add key="OnboardFormDocumentsMumbai" value="\\ipagshareserver\Resumes\mercury\Joining Documents\Virtual Joining Files\Mumbai\" />
    <add key="OnboardFormDocumentsPune" value="\\ipagshareserver\Resumes\mercury\Joining Documents\Virtual Joining Files\Pune\" />
    <add key="OnboardFormDocumentsGurugram" value="\\ipagshareserver\Resumes\mercury\Joining Documents\Virtual Joining Files\Gurugram\" />
    <add key="OnboardFormDocuments" value="\\ipagshareserver\Resumes\Onboard\OnboardFormDocuments\" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <authentication mode="None" />
    <compilation targetFramework="4.8" debug="true" />
    <globalization culture="en-US" uiCulture="en-US" />
    <httpRuntime targetFramework="4.5" maxRequestLength="2097151" executionTimeout="3600" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <remove name="WebDAV" />
      <add name="AttributeRouting" path="routes.axd" verb="*" type="AttributeRouting.Web.Logging.LogRoutesHandler, AttributeRouting.Web" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0b" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
	  <httpProtocol>
		  <customHeaders>
			  <remove name="X-Powered-By" />
			  <add name="Strict-Transport-Security" value="max-age=15552001; includeSubDomains; preload" />
			  <add name="X-Frame-Options" value="SAMEORIGIN" />
			  <add name="X-Content-Type-Options" value="nosniff" />
			  <add name="Referrer-Policy" value="no-referrer" />
			  <add name="X-XSS-Protection" value="1;mode=block" />
			  <add name="Cache-control" value="no-store;no-cache" />
			  <add name="Content-Security-Policy" value="default-src * data: blob: 'self';script-src *.infogain.com * 'unsafe-inline' 'unsafe-eval' blob: data: 'self';style-src data: blob: 'unsafe-inline' *;connect-src *.infogain.com infogain.com *;block-all-mixed-content;upgrade-insecure-requests;" />
		  </customHeaders>
	  </httpProtocol>
	  
    <security>
      <requestFiltering allowDoubleEscaping="false" allowHighBitCharacters="false">
        <requestLimits maxQueryString="2048" maxAllowedContentLength="2147483648" />
        <verbs allowUnlisted="true">
          <add verb="METHODS" allowed="false" />
          <add verb="TRACE" allowed="false" />
          <add verb="HEAD" allowed="false" />
          <add verb="PROPFIND" allowed="false" />
          <add verb="COPY" allowed="false" />
          <add verb="LOCK" allowed="false" />
          <add verb="UNLOCK" allowed="false" />
          <add verb="PROPPATC" allowed="false" />
          <add verb="MKCOL" allowed="false" />
          <add verb="MOVE" allowed="false" />
        </verbs>
        <fileExtensions allowUnlisted="true">
          <add fileExtension="." allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>
<!--ProjectGuid: {D0701FB5-42F4-4B4E-8764-68374C83EA49}-->