<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ appConstants.pageTitle.notAuthorized }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
</head>

<body id="day1">

    <nav class="navbar navbar-default">
        <span class="spnHeading">Access Denied</span>
    </nav>

    <section class="section-bg-img">
        <div class="container feedback-body dflop">
            <div class="row">

                <h2>
                    Hi there,<br /><br />
                    {{ brandConfig.messages.accessDenied }}
                </h2>
                <br />
                <h2>{{ brandConfig.messages.haveWonderfulTime }}</h2>
                <br />
                <br />
            </div>

        </div>

    </section>
    <footer class="footer-bg-img">
        <section class="footer">
            {{ brandConfig.copyright.text }}
        </section>
    </footer>




</body>

</html>




